<!DOCTYPE HTML>
<html>

<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function() { 
			setTimeout(hideURLbar, 0); 
		}, false); 
		function hideURLbar(){ 
			window.scrollTo(0,1); 
		}
	</script>
	<!-- Bootstrap Core CSS -->
	<link href="/static/css/admin/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="/static/css/admin/style2.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="/static/css/admin/font-awesome.css" rel="stylesheet">
	<!-- jQuery -->
	<!--link href='/static/css/admin/roboto.css' rel='stylesheet' type='text/css'-->
	<!-- lined-icons -->
	<link rel="stylesheet" href="/static/css/admin/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<script src="/static/js/admin/jquery-1.10.2.min.js"></script>
	<script src="/static/js/admin/amcharts.js"></script>
	<script src="/static/js/admin/serial.js"></script>
	<script src="/static/js/admin/light.js"></script>
	<script src="/static/js/admin/radar.js"></script>
	<!--link href="/static/css/admin/barChart.css" rel='stylesheet' type='text/css' /-->
	<link href="/static/css/admin/fabochart.css" rel='stylesheet' type='text/css' />
	<!--clock init-->
	<script src="/static/js/admin/css3clock.js"></script>
	<!--Easy Pie Chart-->
	<!--skycons-icons-->
	<script src="/static/js/admin/skycons.js"></script>

	<!--script src="/static/js/admin/jquery.easydropdown.js"></script-->

	<!--//skycons-icons-->
</head>

<body>