					<!--menu-right-->
					<div class="top_menu">
						<!--/profile_details-->
						<div class="profile_details_left">
							<ul class="nofitications-dropdown">

								<li class="dropdown note">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i> <span class="badge">3</span></a>


									<ul class="dropdown-menu two first">
										<li>
											<div class="notification_header">
												<h3>你有三条消息未读  </h3>
											</div>
										</li>
										<li>
											<a href="#">
												<div class="user_img"><img src="/static/img/admin/1.jpg" alt=""></div>
												<div class="notification_desc">
													<p>刚刚又下雨了</p>
													<p><span>一小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li class="odd">
											<a href="#">
												<div class="user_img"><img src="/static/img/admin/in.jpg" alt=""></div>
												<div class="notification_desc">
													<p>刚刚还下雪了 </p>
													<p><span>一小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user_img"><img src="/static/img/admin/in1.jpg" alt=""></div>
												<div class="notification_desc">
													<p>刚刚出来太阳了 </p>
													<p><span>2小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li>
											<div class="notification_bottom">
												<a href="#">查看所有消息</a>
											</div>
										</li>
									</ul>
								</li>

								<li class="dropdown note">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

									<ul class="dropdown-menu two">
										<li>
											<div class="notification_header">
												<h3>你有5条未读通知</h3>
											</div>
										</li>
										<li>
											<a href="#">
												<div class="notification_desc">
													<p>今天服务器蹦了！！！</p>
													<p><span>3小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li class="odd">
											<a href="#">
												<div class="notification_desc">
													<p>访客超过三万人了</p>
													<p><span>1小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="notification_desc">
													<p>服务器升级了</p>
													<p><span>1小时前</span></p>
												</div>
												<div class="clearfix"></div>
											</a>
										</li>
										<li>
											<div class="notification_bottom">
												<a href="#">See all notification</a>
											</div>
										</li>
									</ul>
								</li>
								<li class="dropdown note">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="badge blue1">9</span></a>
									<ul class="dropdown-menu two">
										<li>
											<div class="notification_header">
												<h3>你有九项未完成的任务</h3>
											</div>
										</li>
										<li>
											<a href="#">
												<div class="task-info">
													<span class="task-desc">数据库更新</span><span class="percentage">40%</span>
													<div class="clearfix"></div>
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="task-info">
													<span class="task-desc">图表查看</span><span class="percentage">90%</span>
													<div class="clearfix"></div>
												</div>

												<div class="progress progress-striped active">
													<div class="bar green" style="width:90%;"></div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="task-info">
													<span class="task-desc">手机客户端</span><span class="percentage">33%</span>
													<div class="clearfix"></div>
												</div>
												<div class="progress progress-striped active">
													<div class="bar red" style="width: 33%;"></div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="task-info">
													<span class="task-desc">事务处理</span><span class="percentage">80%</span>
													<div class="clearfix"></div>
												</div>
												<div class="progress progress-striped active">
													<div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a>
										</li>
										<li>
											<div class="notification_bottom">
												<a href="#">查看所有未处理任务</a>
											</div>
										</li>
									</ul>
								</li>
								<div class="clearfix"></div>
							</ul>
						</div>
						<div class="clearfix"></div>
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
					<div class="clearfix"></div>