            		<!--js -->
					<link rel="stylesheet" href="/static/css/vroom.css">
					<script type="text/javascript" src="/static/js/admin/vroom.js"></script>
					<script type="text/javascript" src="/static/js/admin/TweenLite.min.js"></script>
					<script type="text/javascript" src="/static/js/admin/CSSPlugin.min.js"></script>
					<script src="/static/js/admin/jquery.nicescroll.js"></script>
					<script src="/static/js/admin/scripts.js"></script>

					<!-- Bootstrap Core JavaScript -->
					<script src="/static/js/admin/bootstrap.min.js"></script>
</body>

</html>