<% include inc/admin_header.html %>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!-- header-starts -->
				<div class="header-section">
					<% include inc/admin_top.html %>
				</div>
				<!-- //header-ends -->

				<div class="graph">
					<h3 class="sub-tittle"><a href="index.html">后台主页</a>/待审核广告 </h3>
					<div class="tables">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>ID</th>
									<th>广告内容</th>
									<th>开始时间</th>
									<th>结束时间</th>
									<th>价格</th>
									<th>播放次数</th>
								</tr>
							</thead>
							<tbody>
								<% all.forEach(function(item,index){
									
								%>
								<tr class="active">
									<th scope="row"><input name="isCheck" type="checkbox" />1</th>
									<td><%= item.id  %></td>
									<td><%= item.content  %></td>
									<td><%= think.datetime(item.start_time)  %></td>
									<td><%= think.datetime(item.end_time) %></td>
									<td><%= item.price %></td>
									<td><%= item.play_times %></td>
								</tr>
								<% })  %>
								
							</tbody>
						</table>
					</div>

				</div>
				<div class="pagination">
					<ul style= "margin-left:50px";>
						<li class="disablepage">previous</li>
						<li class="currentpage">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a>...</li>
						<li><a href="#">15</a></li>
						<li><a href="#">16</a></li>
						<li class="nextpage"><a href="#">next</a></li>
					</ul>
				</div>

				<a class="btn blue" style="float:right;margin-right:80px;margin-top:40px;">审核通过</a>
				<!--/sidebar-menu-->
	<% include inc/admin_sidebar.html %>
					
<% include inc/admin_footer.html %>
