<% include inc/admin_header.html %>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!-- header-starts -->
				<div class="header-section">
					<% include inc/admin_top.html %>
				</div>
				<!-- //header-ends -->

				<div class="graph">
					<h3 class="sub-tittle"><a href="index.html">后台主页</a>/进账管理 </h3>
					<div class="tables">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>ID</th>
									<th>时间</th>
									<th>收入</th>
									<th>支出</th>
								</tr>
							</thead>
							<tbody>
								<% all.data.forEach(function(item,index){
									
								%>
								<tr class="active www">
									<th scope="row"><input name="isCheck" type="checkbox" /></th>
									<td><%= item.id  %></td>
									<td><%= think.datetime(item.time)  %></td>
									<td><%= (item.if_income == 1)? item.amount :"" %></td>
									<td><%= (item.if_expense == 1)? item.amount :"" %></td>
								</tr>
								<% })  %>
								
							</tbody>
						</table>
					</div>
					

					

				</div>
				<div class="pagination">
					<ul style= "margin-left:25px";>
						<% if(all.currentPage>1){ %>
						<li class="">
							<a href="/admin/review?page=<%= all.currentPage-1 %>">上一页</a>
						</li>
						<% }%>
						<li>
							<a href="/admin/review?page=<%= '1' %>">首页</a>
						</li>
						<%
							var i = all.currentPage;
							var min = i-5;
							var max = i+5;
							min = min>=1?min:1;
							max = max<=all.totalPages?max:all.totalPages;
							var i = min;
							
							while(i<=max) {
							%>
							<li class="<%= (all.currentPage == i)?'uk-currentpage':'' %>" >
								<a href="/admin/review?page=<%= i %>"><%= i  %></a>
							</li>
							<% 
								i++; 
								} 
							%>
						<li>
							<a href="/admin/review?page=<%= all.totalPages %>">末页</a>
						</li>
						<% if(all.currentPage<all.totalPages){ %>
						<li class="">
							<a href="/admin/review?page=<%= all.currentPage+1 %>">下一页</a>
						</li>
						<% }%>
					</ul>
				</div>

				<!--button id="submit" class="btn blue" 
					style="float:right;margin-right:80px;margin-top:40px;">审核通过</button>
				
					<script type="text/javascript">
					$("#submit").click(function(e){
						var idArr = [];
						$(".www").each(function(index,item){
							var dom = $(item);
							var check = dom.find("input[name='isCheck']");
							if(check[0].checked){
								var tr = dom.find("td");
								idArr.push(tr[0].innerHTML)
							}
						});

					$.post("/post/review",{"ids":idArr},function(data){
							//console.log(data)
							location.reload() 
						});
					});
					
					
					</script-->	
				
				<!--/sidebar-menu-->
	<% include inc/admin_sidebar.html %>
					
<% include inc/admin_footer.html %>
