<% include inc/header.html%>

    <% include inc/index.html%>

        <div id="signin" class="rl-modal in" aria-hidden="false">
            <div class="rl-modal-headerpic">
                <img class="picad" src="/static/img/advertiser_2.png" />
                <button type="button" class="rl-close" data-dismiss="modal" hidefocus="true" aria-hidden="true"></button>
            </div>
            <div class="rl-modal-body">
                <div class="clearfix">
                    <div class="l-left-wrap l">
                        <form id="signup-form" autocomplete="off" method="Post" action="/post/adminlogin">
                            <p class="rlf-tip-globle " id="signin-globle-error"></p>
                            <div class="rlf-group">
                                <input type="text" value="" name="email" data-validate="email" autocomplete="off" class="ipt ipt-email js-own-name" placeholder="&nbsp;邮箱"
                                style="font-size:35px">
                                <p class="rlf-tip-wrap"></p>
                            </div>
                            <div class="rlf-group proclaim-loc js-proclaim-on ">
                                <a href="javascript:void(0)" hidefocus="true" class="proclaim-btn js-proclaim icon-show-pw is-pwd" tabindex="-1"></a>
                                <input type="password" name="password" data-validate="password" class="ipt ipt-pwd js-pass-pwd" placeholder="&nbsp;密码 " maxlength="16"
                                autocomplete="off" style="font-size:35px">
                                <p class="rlf-tip-wrap"></p>
                            </div>

                            <div class="rlf-group clearfix">
                                <input type="submit" id="signin-btn" value="登录" hidefocus="true" class="btn-color btn-full">
                            </div>
                        </form>
                    </div>
                    <button type="button" class="tips">忘记密码？</button>
                </div>
            </div>

            <div class="rl-model-footer">
                <div class="pop-login-sns clearfix">

                </div>
                <div class="erweima js-clickToShowDialog"></div>
            </div>
        </div>
        <div class="modal-backdrop  in"></div>

        <% include inc/footer.html%>