<% include inc/adver_header.html %>


	<div id="fh5co-page">

		<% include inc/adver_nav.html %>

		<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(/static/img/adver/full_1.jpg);">
		  	<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
				</a>
			</span>
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-md-push-6 col-md-6 full-height js-full-height">
							<div class="fh5co-cover-intro">
								<h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									投放您的广告
								</h1>
								<h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									 
								</h2>
								<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									<a href="/adver/send" class="btn btn-primary btn-outline btn-lg">投放广告</a>
								</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		
	

		<div class="fh5co-project-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">最新广告</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
							咕噜咕噜咕噜噜2
						</p>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
							<a href="#" class="btn btn-success btn-lg">投放广告</a></p>
					</div>
				</div>
			</div>
			
			<div class="fh5co-projects">
				<ul>
					<li class="wow fadeInUp" style="background-image: url(/static/img/adver/full_4.jpg);" data-wow-duration="1s" data-wow-delay=".3s" data-stellar-background-ratio="0.5">
						<a href="#">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>广告 #1</h3></div>
											<div class="col-md-6"><p><%= threeAds[0].content %></p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp" style="background-image: url(/static/img/adver/full_2.jpg);" data-wow-duration="1s" data-wow-delay=".3s" data-stellar-background-ratio="0.5">
						<a href="#">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>广告 #2</h3></div>
											<div class="col-md-6"><p><%= threeAds[1].content %></p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp" style="background-image: url(/static/img/adver/full_1.jpg);" data-wow-duration="1s" data-wow-delay=".3s" data-stellar-background-ratio="0.5">
						<a href="#">
							<div class="fh5co-overlay"></div>
							<div class="container">
								<div class="fh5co-text">
									<div class="fh5co-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>广告 #3</h3></div>
											<div class="col-md-6"><p><%= threeAds[2].content %></p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		
	</div>
	<!-- END page-->

<% include inc/adver_footer.html %>