<% include inc/adver_header.html %>
	
	<div id="fh5co-page">
		<% include inc/adver_nav.html %>



		
	<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"
	  style="background-image: url(/static/img/adver/full_2.jpg);">

		<div class="fh5co-project-style-2">
			
			<div class="fh5co-features-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Personal Information</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
					</div>
				</div>
				<!--div class="row"->
					<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
					<div class="fh5co-desc">
						<h3>ID</h3>
						<p><%= advertiser.content %></p>
					</div>	
				<--/div-->
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
					<div class="fh5co-desc">
						<h2>Name</h2>
						<h3><%= advertiser.name %></h3>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
					<div class="fh5co-desc">
						<h2>Phone Number</h2>
						<h3><%= advertiser.phone %></h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
	
					<div class="fh5co-desc">
						<h2>Email Address</h2>
						<h3><%= advertiser.email %></h3>
					</div>	
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
				
					<div class="fh5co-desc">
						<h2>Money</h2>
						<h3><%= advertiser.money %></h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
	
					<div class="fh5co-desc">
						<h2>Alipay Number</h2>
						<h3><%= advertiser.email %></h3>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				</div>
			</div>
		</div>
			
		</div>		
	
		<!-- END footer -->
		
	</div>
	<!-- END page-->

<% include inc/adver_footer.html %>