<% include inc/adver_header.html %>
	

	<div id="fh5co-page">
		<% include inc/adver_nav.html %>


		<div class="fh5co-cover fh5co-cover-style-2 js-full-height"
			data-stellar-background-ratio="0.5" data-next="yes"
			style="background-image: url(/static/img/adver/full_3.jpg);">


			<span id="span" class="scroll-btn wow fadeInUp" data-wow-duration="1s"
				data-wow-delay="1.4s"> <a href="#"> <span class="mouse"><span></span></span>
			</a>
			</span>
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-md-push-6 col-md-6 full-height js-full-height">
							<div class="fh5co-cover-intro">
								<h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s"
									data-wow-delay=".5s">提交您的广告</h1>
								<h2 class="cover-text-sublead wow fadeInUp"
									data-wow-duration="1s" data-wow-delay=".8s">
									
								</h2>
								<p class="wow fadeInUp" data-wow-duration="1s"
									data-wow-delay="1.1s">
									<button onclick="$('#span').click();" id="startEdit" class="btn btn-primary btn-outline btn-lg">
										开始
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<div class="fh5co-content-style-6">
			<div class="container">
			<form action = "/post/sendad" method = "post">
				<input type="hidden" name="id" value="<%= advertiser.id %>"/>
				<div class="row p-b text-center">
					<div class="col-md-6 col-md-offset-3">
						<h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">填写广告内容</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
							更多帮助,请查看广告填写说明
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_3.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>广告标题</h3>
							<p>Title</p>
						</a>
						<p>
							<a class="link-block"></a>
							<input class="input btn-primary btn-sm" name="title"/>
						</p>
					</div>
					
					
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block" >
							<figure>
								<img src="/static/img/adver/img_same_dimension_1.jpg" alt="Image" class="img-responsive img-rounded">
							</figure>
							<h3>广告内容</h3>
						</a>
						<p>
							<a class="link-block"></a>
							<textarea class="input btn-primary input-lg" style="height:100px" onkeyup="setContent()" type ="textarea" id="tempContent"></textarea>
							<input type ="hidden" id="mainContent" name="content"/>
							<!--a class="btn btn-primary btn-sm">Learn More</a-->
						</p>
					</div>
						
						
								
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<!--figure>
								<img src="/static/img/adver/img_same_dimension_1.jpg" alt="Image" class="img-responsive img-rounded">
							</figure-->
							<figure>
							<img id="position" 
								src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.536339,31.260206&zoom=13"
								alt="Image" class="img-rounded">
							</figure>
							
							<h3>投放类别</h3>
							<div class="select2"  style="padding-bottom: 30px;">
								<select id="district" onChange="changeImg()">
									<option value="1">汽车服务</option>
									<option value="2">汽车维修</option>
									<option value="3">汽车销售</option>
									<option value="4">摩托车服务</option>
									<option value="5">餐饮服务</option>
									<option value="6">购物服务</option>
									<option value="7">生活服务</option>
									<option value="8">体育休闲服务</option>
									<option value="9">医疗保健服务</option>
									<option value="10">住宿服务</option>
									<option value="11">风景名胜</option>
									<option value="12">商务住宅</option>
									<option value="13">政府机构及社会团体</option>
									<option value="14">科教文化服务</option>
									<option value="15">交通设施服务</option>
									<option value="16">金融保险服务</option>
									<option value="17">公司企业</option>
									<option value="18">道路附属设施</option>
									<option value="19">地名地址信息</option>
									<option value="20">公共设施</option>
								</select>
							</div>
						</a>
						<p>
							<a class="link-block"></a>
							<input class="btn btn-link btn-sm" name="regions" id="regions"/>
						</p>
					</div>				
					
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_2.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>播放次数</h3>
							<p>times</p>
						</a>
						<p>
							<a class="link-block"></a>
							<input class="input btn-primary btn-sm" name="times"/>
						</p>
					</div>
				
					
					<div class="clearfix visible-sm-block"></div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_4.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>投放起始时间</h3>
							<p>start_time</p>
						</a>
						<p>
							<a class="link-block"></a>
							<input type="date" name="from_date" />
						</p>
					</div>
					
					<div class="clearfix visible-sm-block"></div>
					
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_5.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>投放结束时间</h3>
							<p>end_time</p>
						</a>
						<p>
							<a class="link-block"></a>
							<input type="date" name="to_date" /> 
						</p>
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_6.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>广告总价格</h3>
							<p>price</p>
						</a>
						<p>
							<a class="link-block"></a>
							<input class="input btn-primary btn-sm" name="money"/>
						</p>
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						<a class="link-block">
							<figure><img src="/static/img/adver/img_same_dimension_7.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>提交</h3>
							<p>price</p>
						</a>
						<input type="submit" value="提交" class="btn btn-success btn-sm"/>
						<!--p>
							<a class="link-block"></a><a href="#" class="btn btn-primary btn-sm">
							Learn More
						</a></p-->
					</div>
				</div>
		</form>
		</div>
	</div>	


				<!-- Main -->
				<script type="text/javascript">
					var i=16;

					$("#tempContent").val("");
					
					function setContent(){
						var val = $("#tempContent").val();
						$("#mainContent").val(val);
						//console.log($("#mainContent").val());
					}
					
					function changeImg()
					{
						var obj = document.getElementById("district");
						var input = document.getElementById("regions");
						var index = obj.selectedIndex;
						var value = obj.options[index].value;
						/*
						if(value == '16'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.492933,31.240448&zoom=13";
						}else if(value == '1'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.536339,31.260206&zoom=13";
						}else if(value == '2'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.513055,31.264404&zoom=13";
						}else if(value == '3'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.440903,31.185598&zoom=13";
						}else if(value == '4'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.464474,31.22785&zoom=13";
						}else if(value == '5'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.423655,31.246252&zoom=12";
						}else if(value == '6'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.432854,31.224762&zoom=13";
						}else if(value == '7'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.234508,31.033852&zoom=13";
						}else if(value == '8'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.272804,31.380476&zoom=12";
						}else if(value == '9'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.124124,31.14889&zoom=12";
						}else if(value == '10'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.33,30.75&zoom=12";
						}else if(value == '11'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.447227,31.405175&zoom=12";
						}else if(value == '12'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.402383,31.116248&zoom=12";
						}else if(value == '13'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.47,30.92&zoom=12";
						}else if(value == '14'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.4,31.62&zoom=12";
						}else if(value == '15'){
							document.getElementById("position").src="http://api.map.baidu.com/staticimage?width=260&height=175&center=121.576583,31.21661&zoom=12";
						}*/
						input.value = obj.options[index].text
					}
				</script>


<% include inc/adver_footer.html %>