<% include inc/header.html%>

    <% include inc/index.html%>

        <div id="signin" class="r2-modal in" aria-hidden="false">
            
            <div id="firstsignstep">
                <div class="r2-modal-headerpic">
                    <img class="picad2" src="/static/img/advertiser_2.png" />
                    <button type="button" class="r2-close" onlick="close_sign()" data-dismiss="modal" hidefocus="true" aria-hidden="true"></button>
                </div>
                <div class="r2-modal-fstep">
                    <p class="first">第一步</p>
                    <p class="first-inf">填写注册基本信息</p>
                </div>
                <div class="personal-inf">
                    <div class="nickname">
                        <p class="f-nickname">昵称:</p>
                        <input type="text" value="" name="nickname2" data-validate="nickname2" autocomplete="off" class="ipt2  js-own-name" style="font-size:35px">
                        <p class="rlf-tip-wrap"></p>
                    </div>
                    <div class="signemail">
                        <p class="f-signemail">注册邮箱:</p>
                        <input type="text" value="" name="email2" data-validate="email2" autocomplete="off" class="ipt2  js-own-name" style="font-size:35px">
                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div clss="signpw">
                        <p class="f-signpw">密码:</p>
                        <input type="password" name="spassword" data-validate="spassword" class="ipt2  js-pass-pwd" maxlength="16" autocomplete="off"
                        style="font-size:35px">

                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div clss="signpw2">
                        <p class="f-signpw2">确认密码:</p>
                        <input type="password" name="spassword2" data-validate="spassword2" class="ipt2  js-pass-pwd" maxlength="16" autocomplete="off"
                        style="font-size:35px">

                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div class="f-footer">
                        <input type="button" id="next_btn1" onclick="next_btn1()" value="下一步" hidefocus="true" class="btn-next">
                    </div>
                </div>
            </div>
            
            
            <div id="secondsignstep" style="display:none;">
                <div class="r2-modal-headerpic">
                    <img class="picad2" src="/static/img/advertiser_2.png" />
                    <button type="button" class="r2-close" onclick="close_sign()" data-dismiss="modal" hidefocus="true" aria-hidden="true"></button>
                </div>
                <div class="r2-modal-fstep">
                    <p class="first">第二步</p>
                    <p class="first-inf">验证个人信息</p>
                </div>
                <div class="personal-inf">
                    <div class="realname">
                        <p class="s-realname">真实姓名:</p>
                        <input type="text" value="" name="realname" data-validate="realname" autocomplete="off" class="ipt2  js-own-name" style="font-size:35px">
                        <p class="rlf-tip-wrap"></p>
                    </div>
                    <div class="phone">
                        <p class="s-phone">手机号:</p>
                        <input type="text" value="" name="phone" data-validate="phone" autocomplete="off" class="ipt2  js-own-name" style="font-size:35px">
                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div clss="yan">
                        <p class="s-yan">验证码:</p>
                        <input type="text" name="yan" data-validate="yan" class="ipt2  js-own-name" autocomplete="off" style="font-size:35px">

                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div clss="pay">
                        <p class="s-pay">绑定支付宝:</p>
                        <input type="text" name="pay" data-validate="pay" class="ipt2  js-own-name" autocomplete="off" style="font-size:35px">

                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div class="f-footer">
                        <input type="button" id="next_btn2" onclick="next_btn2()" value="下一步" hidefocus="true" class="btn-next">
                    </div>
                </div>
            </div>
            
            <div id="thirdsignstep" style="display:none;">
                <div class="r2-modal-headerpic">
                    <img class="picad2" src="/static/img/advertiser_2.png" />
                    <button type="button" class="r2-close" data-dismiss="modal" onclick="close_sign()" hidefocus="true" aria-hidden="true"></button>
                </div>
                <div class="r2-modal-fstep">
                    <p class="first">第三步</p>
                    <p class="first-inf">完善基本信息</p>
                </div>
                <div class="personal-inf">
                    <div class="gender">
                        <p class="t-gender">性别:</p>
                        <input type="radio" value="female" name="gender" data-validate="gender" autocomplete="off" class="r-female">
                        <img src="/static/img/female.png" />

                        <input type="radio" value="male" name="gender" data-validate="gender" autocomplete="off" class="r-male">
                        <img src="/static/img/male.png" />
                        <p class="rlf-tip-wrap"></p>
                    </div>
                    <div class="signemail">
                        <p class="t-work">职业:</p>
                        <input type="text" value="" name="email2" data-validate="email2" autocomplete="off" class="ipt2  js-own-name" style="font-size:35px">
                        <p class="rlf-tip-wrap"></p>

                    </div>
                    <div clss="photo">
                        <p class="t-phone">头像:</p>
                        <img class="s-photo" src="/static/img/photo.png" />
                        </br>
                        <button type="button" class="c-photo">点击上传照片</button>
                        <p class="rlf-tip-wrap"></p>
                    </div>

                    <div class="f-footer">
                        <input type="button" id="next_btn3" onclick="" value="马上体验" hidefocus="true" class="btn-next">
                    </div>
                </div>
            </div>





            <div class="erweima js-clickToShowDialog"></div>
        </div>
        <div class="modal-backdrop  in"></div>
        
        <script type="text/javascript">
        function next_btn1(){
		    document.getElementById('firstsignstep').style.display='none';	
		    document.getElementById('secondsignstep').style.display='block';	
		}
		function next_btn2(){	
		    document.getElementById('firstsignstep').style.display='none';
		    document.getElementById('secondsignstep').style.display='none';	
		    document.getElementById('thirdsignstep').style.display='block';
		}
        function close_sign(){
		    document.getElementById('firstsignstep').style.display='none';
		    document.getElementById('secondsignstep').style.display='none';	
		    document.getElementById('thirdsignstep').style.display='none';
        }
        </script>

        <% include inc/footer.html%>