<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>老司机网 | 快速承接广告，发布广告</title>
<meta name ="description" content="老司机网 - 快速承接广告，发布广告，车主最便捷的赚钱方式">
<meta name ="keywords" content="老司机，发布广告，承接广告，车主，出租车">
<link rel="stylesheet" href="css/main.css">


</head>

<body>

     <div class="od_head_bd">
        <div class="od_main">
            <a href="index.html" class="od_logo" alt="老司机"></a>
            <ul class="od_menu">
            <li>
                <a herf="#">About</a></li>
            <li>
                <a href="login.html" >Sign up</a>
                </li>
             <li>
                <a href="#entrance">Entrance</a></li>
              <li>
                <a href="index.html">Home</a></li>
              </ul>
         </div>    
     </div>
   <!-- banner start-->
   <div class="check_driver_one img_bg img_first ie_not_bg" style="background-position: 50% 0px;">
                    <span class="is_ie_hide ie_side_bg">
                            <img src="image/download.png" width=100%>
                        </span>
                </div>
                <p class="download_outer">
                    <span>
                            <a class="btn btn-warning btn_download" id="bg_img_down" style="width: 100%;overflow: hidden;position: absolute;z-index: 209;left:1200px;bottom: 60px;">
                                <img src="image/download_btn.png" width="220px" class="btn_down">
                            </a>
                        </span>
                </p>
</body>
</html>