<% include inc/header.html%>

     <div class="od_head_bd">
        <div class="od_main">
            <a href="index.html" class="od_logo" alt="老司机"></a>
            <ul class="od_menu">
            <li>
                <a herf="#">About</a></li>
            <li>
                <a href="#" >Sign up</a>
                </li>
             <li>
                <a href="#entrance">Entrance</a></li>
              <li>
                <a href="index.html">Home</a></li>
              </ul>
         </div>    
     </div>
     
   <!-- banner start-->
    <div class="banner">
    	<ul style="margin-left:-285.5px" class="b_ul">
        	<li class="li_0">
            	<a></a>
            </li>
            <li class="li_1">
            	<a></a>
            </li>
        </ul>
        
        <div class="b_yq">
        	<ul>
            	<li class="y_li1"></li><li></li>
            </ul>
        </div>
        
        <div class="jt b_left"></div>
        <div class="jt b_right"></div>
    </div>
    <!-- end banner -->
    
    <!-- content start -->
    <div class="content">
      <p id="entrance" style="color:#FFF;font-family:Quiksand;font-size:80px;">&nbsp;&nbsp;Entrance</p>
      </div>
      <div class="characters-wrap">
           <div class="identity">
           <a href="#" class="advertiser" alt="广告商"></a>
           <a href="" class="Iam"</a>
           <a href="" class="advertiser_1"</a>
           <a href="" class="driver" alt="车主"></a>
           <a href="" class="Iam_1"</a>
           <a href="" class="driver_1"</a>
      </div>
    </div>  
    <!-- end content -->

<% include inc/footer.html%>