<% include inc/header.html%>

     <div class="od_head_bd">
        <div class="od_main">
            <a href="/index.html" class="od_logo" alt="老司机"></a>
            <ul class="od_menu">
            <li>
                <a href="/admin/login" >管理</a>
            </li>
            <li>
                <a href="/index/sign2" >车主注册</a>
            </li>
            <li>
                <a href="/index/sign" >广告主注册</a>
            </li>
            <li>
                <a href="#entrance">登陆</a></li>
            <li>
                <a href="/index.html">首页</a></li>
            </ul>
         </div>    
     </div>
   <!-- banner start-->
   <div class="check_driver_one img_bg img_first ie_not_bg" style="background-position: 50% 0px;">
                <span class="is_ie_hide ie_side_bg">
                        <img style="width: 100%;" src="/static/img/index/download.png" >
                </span>
   </div>
   <p class="download_outer">
        <span>
           <a href="/static/car_app.apk" class="btn btn-warning btn_download" id="bg_img_down" style="width: 100%;overflow: hidden;position: absolute;z-index: 209;left:1200px;bottom: 60px;">
                  <img src="/static/img/index/download_btn.png" width="220px" class="btn_down">
           </a>
        </span>
   </p>
                
<% include inc/footer.html%>